// COMPONENTS
// nav a11y
.nav-accessibility
    display: none

// header
header#document-header
    display: flex
    flex-direction: column
    .phlv-partners--header
        @include container
        border-bottom: 1px solid var(--color-border)
        order: -2
        padding-bottom: space(4)
        padding-top: space(4)
        ul
            img
                height: pxToRem(42)
                @include media-breakpoint-up(desktop)
                    height: pxToRem(63)
            + *
                margin-top: $spacing-2
            @include media-breakpoint-down(desktop)
                justify-content: center
        p
            font-size: pxToRem(14)
            line-height: pxToRem(18)
            margin-left: auto
            margin-right: auto
            text-align: center
            @include media-breakpoint-up(desktop)
                line-height: pxToRem(24)
            @include media-breakpoint-up(xxl)
                max-width: columns(7)
    &.is-sticky,
    html.is-scrolling-down &
        .phlv-partners--header
            display: none
    .upper-menu
        .nav-level-1
            li:last-child a
                @extend .button
                @extend .button--accent
            @include media-breakpoint-up(desktop)
                justify-content: space-between
                gap: $spacing-4
                li
                    &:nth-child(2)
                        margin-right: auto
                    &:nth-child(3)
                        margin-left: auto

// footer
footer#document-footer
    background:
        image: url('/assets/images/waves.svg')
        size: cover
        repeat: no-repeat
    border-top: 1px solid var(--color-border)
    padding-top: $spacing-5
    .footer-credit 
        a[target="_blank"]::after
            @include icon-site('icon-external')
            margin-left: space()
            display: inline-block
    .nav-social
        li
            &:first-child::before
                @include icon-site('icon-email')
                margin-right: $spacing-1
    .footer-social
        li
            display: flex
            &::after
                margin-right: $spacing-2
                margin-left: 0
                @include media-breakpoint-up(desktop)
                    order: -1
            &.youtube::after
                @include icon-site('icon-youtube')
            &.facebook::after
                @include icon-site('icon-facebook')
    @include media-breakpoint-up(desktop)
        padding-bottom: space(18)
        padding-top: $spacing-6
        .container + .container
            align-items: flex-start
        .footer-legals
            .footer-credit
                bottom: $spacing-1
                margin-top: 0
                position: absolute
                left: 50%
                transform: translateX(-50%)
.phlv-partners--footer
    border-top: 1px solid var(--color-border)
    padding-bottom: space(8)
    padding-top: space(8)
    ul
        img
            height: pxToRem(87)
        li
            mix-blend-mode: darken
            &:last-child img
                height: pxToRem(58)

// TOC | table of content
.toc-container
    .toc-title
        @include in-page-with-sidebar
            color: $site-dark-green
    .toc-pages
        a.active
            color: $site-blue
            font-weight: bold
// partners
.phlv-partners
    @include container
    position: relative
    &::before
        background:
            image: url('/assets/images/partners/texture.png')
            size: cover
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 100%
        opacity: 0.1
        width: 100%
        z-index: -1
    ul
        @include list-reset
        align-items: center
        display: flex
        flex-wrap: wrap
        gap: space(4)
        width: 100%
        @include media-breakpoint-up(desktop)
            justify-content: center

// button
.button:hover
    text-decoration: underline
.button--accent
    --btn-hover-background: #003745
.button--light
    @extend .button
    --btn-color: #{$color-text}
    --btn-background: #{$color-background}
    --btn-border: #{$btn-border-width} solid #B0D6DF
    --btn-hover-color: var(--btn-color)
    --btn-hover-background: #{alphaColor(#007B9980, 0.5)}
    --btn-hover-border: var(--btn-border)

// SECTIONS
//home
.page__home
    .hero
        border-bottom: 1px solid var(--color-border)
        h1
            em
                font-style: normal
                &:first-of-type
                color: $site-dark-green
                &:last-of-type
                    color: $site-purple
        hgroup p:first-of-type
            margin-top: space(8)
            + p
                margin-top: 0
        @include media-breakpoint-up(desktop)
            figure
                width: columns(6)
    &.full-width,
    &:not(.full-width)
        .block .top .block-title
            @include h4
        .block-links
            @include media-breakpoint-up(desktop)
                .top
                    display: block
                    .block-title
                        width: columns(7)
    .block
        &:not(:first-child, .block-title)
            border-top: 1px solid var(--color-border)
            .top
                padding-top: $spacing-5
        &-title,
        &-testimonials
            + .block
                border-top: 0
        &-features,
        &-testimonials
            margin-bottom: $spacing-4
            + .block-call_to_action--no_background
                border-top: none
                margin-top: $spacing-4
                .block-content
                    padding-bottom: 0
                    padding-top: 0
        &-key_figures
            ul
                @include grid(2)
                @include grid(6, desktop)
                li
                    &:nth-child(4n + 1) span
                        color: $site-dark-green
                    &:nth-child(4n + 2) span
                        color: $site-purple
                    &:nth-child(4n + 3) span
                        color: $site-orange
                    &:nth-child(4n + 4) span
                        color: $site-blue
                    @include media-breakpoint-up(desktop)
                        @include media-breakpoint-down(xxl)
                            @include meta
        &-call_to_action
            .call_to_action--with-image 
                .description
                    color: $site-orange
        &-video
            .block-content .top .block-title
                @include h3
                color: $site-orange
                text-transform: none
                font-weight: bold
        &-agenda
            background-color: $site-yellow
            padding-bottom: $spacing-5
            padding-top: $spacing-5
            position: relative
            &::before
                content: ''
                background:
                    image: url("/assets/images/agenda_background.png")
                    repeat: no-repeat
                    size: contain
                    position: right
                bottom: 0
                height: 100%
                left: 0
                mix-blend-mode: multiply
                pointer-events: none
                position: absolute
                right: $spacing-5
            .block-content
                display: flex
                flex-direction: column
                .top
                    margin-bottom: 0
                    order: 2
                .block-title a
                    @extend .button
                    @extend .button--accent
                    &::after
                        content: none
            + .block
                border-top: none
                margin-top: 0
                padding-top: 0
                .top
                    padding-top: 0
            @include media-breakpoint-up(desktop)
                padding-bottom: $spacing-6
                padding-top: $spacing-6
        &-class-h5.block-title
            background-color: $site-yellow
            padding-top: $spacing-5
            margin-bottom: 0
            h2
                @include h4
            + .block-agenda
                margin-top: 0
                padding-top: $spacing-5
        &-links
            .block-content .top > .block-title
                @include h2
                color: $site-green
            .links
                padding-top: space(5)
                li
                    &:first-child::before
                        background-image: url('/assets/images/shapes/link-green.svg')
                    &:nth-child(2)::before
                        background-image: url('/assets/images/shapes/link-orange.svg')
                    &:nth-child(3)::before
                        background-image: url('/assets/images/shapes/link-yellow.svg')
                    &::before
                        background:
                            repeat: no-repeat
                            size: contain
                        content: ''
                        height: 100%
                        left: 0
                        position: absolute
                        top: space(-5)
                        width: 100%
                @include media-breakpoint-up(desktop)
                    padding-top: space(8)
                    li::before
                        top: space(-8)

// agenda
.events__section
    .event
        .event-hours
            @include h4
            font-family: $body-font-family
            font-weight: normal

// BLOCKS
// chapter
.block-chapter 
    .chapter
        figure
            margin-bottom: 0
            margin-top: $spacing-4
            order: 2

// features
.block-features
    @include in-page-without-sidebar
        ul
            @include grid(4)

//events
.block-agenda
    .events
        .event
            padding-top: space(8)
            &:where(:not(:last-child))
                margin-bottom: 0
            .event-dates
                @include body-text
            .event-time
                @include small
            .event-dates
                font-weight: bold
            .event-content
                flex: 1
            .media:empty
                display: none

// video
.block-video
    &--player .lazy-video-player
        &::after
            backdrop-filter: blur(4px) grayscale(1) !important
        button
            height: pxToRem(72)
            width: pxToRem(72)
            &::before
                font-size: var(--small-size)

// call to action | cta
.block-call_to_action
    .call_to_action
        .actions
            a:not(:first-of-type)
                @extend .button--light
    @include in-page-with-sidebar
        .container
            padding-right: 0
        .description p
            font-family: $body-font-family

// testimonials
.block-testimonials
    .testimonial 
        @include in-page-without-sidebar
            padding-left: 0
            width: columns(8)

// links
.block-links
    li
        .link-content
            padding: 0
            margin-top: space(8)
            a
                @include h3
                &::after
                    bottom: unset
                    position: relative
                    right: unset
                + p
                    margin-top: $spacing-1

