// COMPONENTS
footer#document-footer
    background:
        image: url('/assets/images/waves.svg')
        size: cover
        repeat: no-repeat

// SECTIONS
.page__home
    @include media-breakpoint-up(desktop)
        .hero
            figure
                width: columns(6)