<div class="phlv-partners phlv-partners--footer">
  <ul>
    <li><img src="/assets/images/partners/footer/logo-phlv.svg" alt="Pays Haut Languedoc et Vignobles"></li>
    <li><img src="/assets/images/partners/footer/logo-avant_monts.png" alt="Les Avant-Monts - Communauté de Communes Ouest Hérault"></li>
    <li><img src="/assets/images/partners/footer/logo-sudherault.jpg" alt="Sud Hérault - Communauté de communes"></li>
    <li><img src="/assets/images/partners/footer/logo-minervois.png" alt="Du Minervois au Caroux - Haut-Languedoc - Communauté de communes"></li>
    <li><img src="/assets/images/partners/footer/logo-grand_orb.svg" alt="Grand Orb - Communauté de communes en Languedoc"></li>
    <li><img src="/assets/images/partners/footer/logo-ars.svg" alt="ARS - Agence régionale de santé"></li>
  </ul>
</div>