<div class="phlv-partners phlv-partners--header">
  <ul>
    <li><img src="/assets/images/partners/header/logo-phlv.svg" alt="Pays Haut Languedoc et Vignobles"></li>
    <li><img src="/assets/images/partners/header/logo-eu_engagment.svg" alt="L'Europe s'engage, l'Occitanie agit"></li>
    <li><img src="/assets/images/partners/header/logo-eu.svg" alt="Union Européenne"></li>
    <li><img src="/assets/images/partners/header/logo-leader.jpg" alt="LEADER"></li>
    <li><img src="/assets/images/partners/header/logo-occitanie.svg" alt="La Région occitanie, Pyrénées - Méditerranée"></li>
    <li><img src="/assets/images/partners/header/logo-herault.svg" alt="Département Hérault"></li>
  </ul>
  <p>{{ i18n "commons.header.financing" }}</p>
</div>